@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-[#757C8D] flex min-h-screen flex flex-col;
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(180deg, #25272d 0%, #1f2125 100%, #fff 100%);
  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

main {
  flex: 1;
}

.site-header {
  @apply h-[163px] flex flex-col md:flex-row justify-center md:justify-start md:items-center p-8 md:p-16 gap-y-4 md:gap-y-0 md:gap-x-7 border-b border-[#2A2C32];
  background: linear-gradient(180deg, #25262c 0%, #23242a 100%);
}

.site-footer {
  @apply h-[35px] w-full whitespace-nowrap overflow-hidden flex items-center px-4;
  background: var(--metal3, linear-gradient(180deg, #25262c 0%, #23242a 100%));
}
